
.post {
    position: relative;
    width: 600px;
    height: auto;
    max-height: 600px;
    background-color: rgb(237, 248, 248);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 0;
    border-radius: 15px;
  }

  .post:hover{
    border: 1px solid black;
  }
  
   .postHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgb(7, 36, 53);
    font-family: 'Inconsolata', monospace;
    flex: 50%;
  }   

  .post .postTextContainer {
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
    height: auto;
    max-height: 400px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .Aurthor{
    font-family: 'Pacifico', cursive;
    margin-bottom: 5px;
  }
  
  .Time {
    margin-bottom: 2px;
    font-family: 'Pacifico', cursive;
  }


  .LikeandCommentDeleteContainer{
    display: flex;
    align-items: center;
    cursor: pointer;
    
  }

  .LikeIcon {
    margin-right: 7px;
    margin-top: 2px;
  }

  .commentsIcon {
    margin-left: 15px;
    margin-top: 2px;
    
  }

  .DeleteButton {
    margin-left: auto;
  }
  

  

  .UpdateButton Button{
    border: none;
    background: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 20px;
  }


  .CommentComponent{
    padding-bottom: 1px;
    
  }
  
