
.post {
    position: relative;
    width: 600px;
    height: auto;
    max-height: 600px;
    background-color: rgb(237, 248, 248);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
  }

  .post:hover{
    border: 1px solid black;
  }
  
   .postHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgb(7, 36, 53);
    font-family: 'Inconsolata', monospace;
    flex: 50%;
  }   

  .post .postTextContainer {
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
    height: auto;
    max-height: 400px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .Aurthor{
    font-family: 'Pacifico', cursive;
    margin-bottom: 15px;
  }
  
  .Time {
    margin-bottom: 40px;
    font-family: 'Pacifico', cursive;
  }

  .UIButtons {
    
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: auto;
    cursor: pointer;
  }

  
  .UIButtons button {
    border: none;
    background: none;
    font-size: 30px;
    cursor: pointer;
    
  }
  

  .UpdateButton{
    position: absolute;
    right: 15px;
    top: 20px;
  }

  .DeleteButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .LikeIcon {
    position: absolute;
    bottom: 12px; 
    left: 10px;  
  }

  .likesCount {
    position: absolute;
    bottom: 0; 
    left: 40px;
  }

  .commentsIcon {
    position: absolute;
    bottom: 12px; 
    left: 70px;
    
  }
